
/* General settings */
body, html {
min-height: 100%;
}

.hidden {
  display: none;
}

body {
  background-image: url("../images/main_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Header */
.title {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Boombox reset */
.fa-redo-alt {
  font-size: 2.2em;
  color: #7EE6EB;
  position: absolute;
  margin-top: 20%;
  margin-left: 9%;
  cursor: pointer;
}

.fa-redo-alt:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Boombox */
.boom_box {
  background-image: url("../images/boom_box.svg");
  width: 700px;
  height: 351px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* border: thin dashed black; */
}

/* Boombox drag zones */
.tl { text-align: right; }
.tr img { bottom: 0; }
.tl img { bottom: 0; right: 0; }
.bl img { right: 0; }

.drop-zone {
	width: 49.5%;
	height: 49.5%;
	/* border: thin dashed white; */
	float: left;
	position: relative;
}

.drop-zone img {
	width: 132px !important;
	padding: 0 !important;
	cursor: default;
	position: absolute;
}

/* Parent container Flexbox */
.parent_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Child container Flexbox */
.container_tl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
  height: 164px;
  flex-wrap: wrap;
  margin: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.container_tl img {
  width: 37%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
}

.container_bl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
  height: 164px;
  flex-wrap: wrap;
  margin: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.container_bl img {
  width: 37%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
}

.container_br {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
  height: 164px;
  flex-wrap: wrap;
  margin: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.container_br img {
  width: 37%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
}

.container_tr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 240px;
  height: 164px;
  flex-wrap: wrap;
  margin: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}

.container_tr img {
  width: 37%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
}

/* lightbox */
#instructions_button {
  color: #7EE6EB;
  background-color: transparent;
  width: 135px;
  height: 34px;
  font-size: .8em;
  text-align: center;
  border-color: #7EE6EB;
  border-width: thin;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  margin-top: -50%;
  margin-left: 5%;
}

#instructions_button:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  width: 138px;
  height: 36px;
  font-size: .9em;
}

.lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  display: none;
}

.lightbox h2 {
  color: white;
  font-size: 3em;
  font-family: 'Gurajada', serif;
  text-align: left;
  margin-top: 20%;
  margin-left: 20%;
}

.lightbox p {
  display: block;
  color: white;
  font-size: 2em;
  font-family: 'Gurajada', serif;
  text-align: justify;
  margin-top: 2%;
  margin-left: 20%;
  width: 60%;
}

.show-lightbox {
  display: block;
}

.close-lightbox {
  float: right;
  right: 20px;
  color: white;
  margin: 5%;
  font-family: 'Gurajada', serif;
  font-size: 3em;
  text-decoration: none;
}
